@font-face {
    font-family: "Cera Pro Bold";
    src: url('../fonts/CeraPro-Bold.woff') format('woff'),
    url('../fonts/CeraPro-Bold.woff2') format('woff2'),
    url('../fonts/CeraPro-Bold.ttf') format('truetype'),
    url('../fonts/CeraPro-Bold.eot') format('eot');
}
@font-face {
    font-family: "Cera Pro Light";
    src: url('../fonts/CeraPro-Light.woff') format('woff'),
    url('../fonts/CeraPro-Light.woff2') format('woff2'),
    url('../fonts/CeraPro-Light.ttf') format('truetype'),
    url('../fonts/CeraPro-Light.eot') format('eot');
}
@font-face {
    font-family: "Cera Pro Regular";
    src: url('../fonts/CeraPro-Regular.woff') format('woff'),
    url('../fonts/CeraPro-Regular.woff2') format('woff2'),
    url('../fonts/CeraPro-Regular.ttf') format('truetype'),
    url('../fonts/CeraPro-Regular.eot') format('eot');
}
@font-face {
    font-family: "Cera Pro Medium";
    src: url('../fonts/CeraPro-Medium.woff') format('woff'),
    url('../fonts/CeraPro-Medium.woff2') format('woff2'),
    url('../fonts/CeraPro-Medium.ttf') format('truetype'),
    url('../fonts/CeraPro-Medium.eot') format('eot');
}
@font-face {
    font-family: "Cera Pro Black";
    src: url('../fonts/CeraPro-Black.woff') format('woff'),
    url('../fonts/CeraPro-Black.woff2') format('woff2'),
    url('../fonts/CeraPro-Black.ttf') format('truetype'),
    url('../fonts/CeraPro-Black.eot') format('eot');
}
@font-face {
    font-family: "Hanged Letters";
    src: url('../fonts/Hanged-Letters.ttf') format('truetype');
}
.container{
    padding: 30px 120px 52px;
    font-family: 'Cera Pro Regular', sans-serif;
    font-size: 16px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid  rgba(70, 163, 88, 0.50);
    margin-bottom: 12px;
}
body a{
    color: #3D3D3D;
   font-family: 'Cera Pro Regular', sans-serif;
   font-size: 16px;
}
a.login{
    color: #FFF;
    font-weight: 500;
}
.list{
    display: flex;
    gap: 50px;
}
.list-item{
   padding: 8px 0 25px; 
   border-bottom: 3px solid transparent;  
}
.active{
    font-weight: 700;
    border-color: #46A358;
}
.login{
    border-radius: 6px;
    background-color: #46A358;
    padding: 7px 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.span-welcome{
    display: inline-block;
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 7px;
}
h1{
    color: #3D3D3D;
    font-size: 70px;
    font-family: 'Cera Pro Black', sans-serif;
    font-weight: 900;
    text-transform: uppercase; 
    margin-bottom: 5px;
}
.planet{
   color: #46A358;
   font-family: 'Cera Pro Black', sans-serif;
   font-size: 70px;
   font-weight: 900;
   text-transform: uppercase; 
}
.main-page{
    margin-bottom: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
}
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    padding: 68px 93px 85px 43px;
}
.desctiption{
    color: #727272;
    font-size: 14px;
    margin-bottom: 44px;
}
.shop-now{
    border-radius: 6px;
    background: #46A358;
    padding: 10px 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    cursor: pointer;
}
.plant{
  position: relative;
}
.flower-small{
    position: absolute;
    bottom: 20px;
    left: 40px;
}
.plants{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.leftside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.categories{
    background-color: #FBFBFB;
    padding-bottom: 377px;
}
h3{
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 0 15px 18px;
}
.categories-list{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    gap: 16px;
}
.categories a:hover{
    color: #46A358;
    font-weight: 700;
}
.sale{
    background: linear-gradient(180deg, rgba(70, 163, 88, 0.10) 0%, rgba(70, 163, 88, 0.03) 100%);
}
.letters{
    color: #46A358;
font-family: "Hanged Letters";
font-size: 65px;
font-weight: 400;
text-align: center;
}
.sale-precent{
color: #3D3D3D;
text-align: center;
font-size: 23px;
font-weight: 700;  
}
.rightside{
    display: flex;
    flex-direction: column;
}
.banner{
   display: flex;
    justify-content: space-between;  
}
.banner li:hover{
    color: #46A358;
    font-weight: 700;
    border-bottom: 2px solid #46A358;
}
.bn-list{
    display: flex;
    gap: 38px;
}
.banner-list{
    padding: 0 0 7px;
}
.sort-selected{
    font-family: "Cera Pro Regular" sans-serif;
    font-size: 16px;
    font-weight: 400;
}
option{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    font-weight: 400;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 33px 70px;
    margin-bottom: 90px;
    

}
.card-product{
    padding: 25px 4px;
    margin-bottom: 12px;
}
.caption{
    display: block;
    color: #3D3D3D;
    font-family: "Cera Pro regular";
    font-weight: 400;
}
.price{
    display: block;
    color: #46A358;
    font-size: 18px;
    font-weight: 700;
}
.pages{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
}
.pages a:hover{
   background-color: #46A358;
}