@font-face {
    font-family: "Cera Pro Bold";
    src: url('../fonts/CeraPro-Bold.woff') format('woff'),
    url('../fonts/CeraPro-Bold.woff2') format('woff2'),
    url('../fonts/CeraPro-Bold.ttf') format('truetype'),
    url('../fonts/CeraPro-Bold.eot') format('eot');
}
@font-face {
    font-family: "Cera Pro Light";
    src: url('../fonts/CeraPro-Light.woff') format('woff'),
    url('../fonts/CeraPro-Light.woff2') format('woff2'),
    url('../fonts/CeraPro-Light.ttf') format('truetype'),
    url('../fonts/CeraPro-Light.eot') format('eot');
}
@font-face {
    font-family: "Cera Pro Regular";
    src: url('../fonts/CeraPro-Regular.woff') format('woff'),
    url('../fonts/CeraPro-Regular.woff2') format('woff2'),
    url('../fonts/CeraPro-Regular.ttf') format('truetype'),
    url('../fonts/CeraPro-Regular.eot') format('eot');
}
@font-face {
    font-family: "Cera Pro Medium";
    src: url('../fonts/CeraPro-Medium.woff') format('woff'),
    url('../fonts/CeraPro-Medium.woff2') format('woff2'),
    url('../fonts/CeraPro-Medium.ttf') format('truetype'),
    url('../fonts/CeraPro-Medium.eot') format('eot');
}
@font-face {
    font-family: "Cera Pro Black";
    src: url('../fonts/CeraPro-Black.woff') format('woff'),
    url('../fonts/CeraPro-Black.woff2') format('woff2'),
    url('../fonts/CeraPro-Black.ttf') format('truetype'),
    url('../fonts/CeraPro-Black.eot') format('eot');
}
.container{
    padding: 30px 120px 52px;
    font-family: 'Cera Pro Regular', sans-serif;
    font-size: 16px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid  rgba(70, 163, 88, 0.50);
}
body a{
    color: #3D3D3D;
   font-family: 'Cera Pro Regular', sans-serif;
   font-size: 16px;
}
header nav ul li::after{
    display: block;
    content: "";
    width: 0;
    height: 3px;
    background-color: green;
    margin-top: 22px;
    transition: 0.4s;
}
header nav ul li:hover::after{
    width: 100%;
    
}
header nav ul li:hover{
    font-family: 'Cera Pro Bold', sans-serif;
    color: #3D3D3D;
    font-weight: 700;
}
a.login{
    color: #FFF;
    font-weight: 500;
}
.list{
    display: flex;
    gap: 50px;
}

.login{
    border-radius: 6px;
    background-color: #46A358;
    padding: 7px 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.span-welcome{
    display: inline-block;
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 7px;
}
h1{
    color: #3D3D3D;
    font-size: 70px;
    font-family: 'Cera Pro Black', sans-serif;
    font-weight: 900;
    text-transform: uppercase; 
    margin-bottom: 5px;
}
.planet{
   color: #46A358;
   font-family: 'Cera Pro Black', sans-serif;
   font-size: 70px;
   font-weight: 900;
   text-transform: uppercase; 
}
.main-page{
    margin-bottom: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
}
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    padding: 68px 93px 85px 43px;
}
.desctiption{
    color: #727272;
    font-size: 14px;
    margin-bottom: 44px;
}
.shop-now{
    border-radius: 6px;
    background: #46A358;
    padding: 10px 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    cursor: pointer;
}
.plant1{
  position: relative;
}
.flower-small{
    position: absolute;
    bottom: 20px;
    left: 40px;
}
.plants{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.leftside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.categories{
    background-color: #FBFBFB;
}
h3{
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 0 15px 18px;
}
.categories-list{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    gap: 16px;
}
.categories a:hover{
    color: #46A358;
    font-weight: 700;
}
.nav{
   display: flex;
    justify-content: space-between;  
    margin-bottom: 31px;
}
.nav-list1{
    display: flex;
    gap: 38px;
}
.nav ul li:hover {
    color: #46A358;
    border-bottom: 2px solid #46A358;
    padding-bottom: 5px;
    font-weight: 700;
}
.nav-list{
    padding: 0 0 7px 0;
}
.sort-selected{
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
option{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    font-weight: 400;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 90px;
    gap: 33px;
}
.plant{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.plant::before{
    display: block;
    content: "";
    width: 0;
    height: 3px;
    background-color: #46A358;
    transition: 0.4s;
}
.plant:hover::before{
    width: 100%;
}
.card-product{   
    margin-bottom: 12px;
}
.product-discount{
    position: relative;
    margin-bottom: 12px;
}
.discount{
    color:#FFFFFF;
    padding: 7px 8px;
    background-color: #46A358;
    position: absolute;
    top: 14px;
}
.plant ul{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 26px;
    bottom: -65px;
    left: 0;
    transition: 0.5s;
}
.plant:hover ul{
    bottom: 65px;
}
.plant ul li:hover svg path{
stroke: #46A358;
}
.caption{
    display: block;
    color: #3D3D3D;
    font-family: "Cera Pro Regular", sans-serif;
    font-weight: 400;
}
.price{
    display: flex;
    gap: 16px;
    color: #46A358;
    font-size: 18px;
    font-weight: 700;
}
.price-line-through{
    text-decoration: line-through;
    color: #A5A5A5;
    font-size: 18px;
    font-weight: 400;
}
.pages{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 94px;
    
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    font-size: 18px;
    color: #3D3D3D;
}
.pages a:hover{
   background-color: #46A358;
   color: #FFF;
   font-size: 18px;
}
.pages a:hover svg path{
    stroke: white;
}
.plant-info{
    display: flex;
    justify-content: space-between;
    gap: 28px;
}
.plant-info-post{
    background: #FBFBFB;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 138px;
    position: relative; 
    max-width: 570px;
    width: 100%;
}
.plant-info-img{
    position: absolute;
    top: -50px;
   width: auto;
   left: 0;
}
.plant-text{
    max-width: 293px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 37px 30px 46px 0;
}
.h2-blog{
    color: #3D3D3D;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Cera Pro Black", sans-serif;
    margin-bottom: 9px;
    text-align: right;
}
.plant-text p{
    color: #727272;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}
.find-more{
     border-radius: 6px;
    background-color: #46A358;
    padding: 11px 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    color: white;
}
.blog-text{
   text-align: center;
   margin-bottom: 35px;
}
.blog-text h2{
    color: #3D3D3D;
    font-size: 30px;
    font-weight: 700;
    font-family: "Cera Pro Bold", sans-serif;
}
.blog-text p{
    color: #727272;
    font-size: 14px;
    font-weight: 400;
}
.blog-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 44px;   
}
.blogs{
    display: flex;
    flex-direction: column;
    background-color: #FBFBFB;
    width: 268px;
}
.blogs img{
    width: 100%;
}
.date-info{
    display: flex;
    color: #46A358;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
}
.blog-info{
    display: flex;
    flex-direction: column;
    padding: 10px 13px;
}
h4{
    color: #3D3D3D;
    font-size: 20px;
    font-weight: 700;
    font-family: "Cera Pro Bold", sans-serif;
    margin-bottom: 4px;
}
.blogs-info{
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 9px;
}
.read-more{
    display: flex;
    align-items: center;
    gap: 3px;
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 500;
    font-family: "Cera Pro Medium", sans-serif;
}
.read-more:hover{
    color: #46A358;
    font-size: 14px;
    font-weight: 500;
}
